# Ignore everything
*

!.gitignore
!readme.md
!MWSE/
!MWSE/mods/
!MWSE/mods/dark/
!MWSE/mods/dark/**
!Docs/
!Docs/JOPTeleportation.md
MWSE/mods/dark/editorconfig
MWSE/mods/dark/JOPTeleportation/todo.md
